{% if menu %}
	<ul
		class="flex"
	>
		{% for item in items %}
			<li
				class="ml-4 {{ item.classes|join(' ') }}"
			>
				<a
					class=""
					target="{{ item.target }}"
					href="{{ item.link }}"
				>
					{{ item.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
