{
	"extends": "stylelint-config-wordpress/scss",
	"plugins": [
		"stylelint-order"
	],
	"rules": {
		"at-rule-empty-line-before": null,
		"at-rule-no-unknown": null,
		"declaration-no-important": true,
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
	}
}
