/* ==========================================================================
   #ENTRY
   ========================================================================== */

.entry__permalink {
	text-decoration: none;
}

.entry__content > * {
	@include wrapper($global-width);
}

.entry__byline {
	margin-bottom: vr(1);
}

.entry__content {
	margin-bottom: vr(2);
}

.entry__content,
.entry__summary {

	> ol:not([class]),
	> ul:not([class]) {
		padding-left: vr(1.5);
	}
}

.entry__terms-wrapper {
	display: block;

	& + & {
		margin-top: vr(1/4);
	}
}

.entry__terms {
	margin-left: vr(1/4);

	a {
		color: inherit;
	}
}

.entry__footer {
	margin-bottom: vr(2);
}
