/* ==========================================================================
   #ENTRY
   ========================================================================== */

.entry {
	&__content {
		margin-bottom: vr(2);

		& > * {
			@include wrapper($global-width);
		}
	}

	&__content,
	&__summary {
		> ol:not([class]),
		> ul:not([class]) {
			padding-left: vr(1.5);
		}
	}

	&__byline {
		margin-bottom: vr(1);
	}

	&__permalink {
		text-decoration: none;
	}

	&__terms-wrapper {
		display: block;

		& + & {
			margin-top: vr(1/4);
		}
	}

	&__terms {
		margin-left: vr(1/4);

		a {
			color: inherit;
		}
	}

	&__footer {
		margin-bottom: vr(2);
	}
}
