/* ==========================================================================
   #ENTRY
   ========================================================================== */

.entry__header,
.entry__summary,
.entry__footer {
	@include wrapper;
}

.entry__byline {
	margin-bottom: vr(1);
}

.entry__content,
.entry__summary {

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: vr(1.5);
	}
}

.entry__content {

	> * {
		@include wrapper(map-get($global-width, base));
	}

	> .alignwide {
		@include wrapper(map-get($global-width, wide), null);
	}

	> .alignfull {
		max-width: 100%;
	}
}

.entry__terms-wrapper {
	display: block;

	& + & {
		margin-top: vr(1/4);
	}
}

.entry__terms {
	margin-left: vr(1/4);

	a {
		color: inherit;
	}
}
