/* ==========================================================================
   #FOOTER
   ========================================================================== */

.app-footer {
	border-top: 1px solid $color-border;
	font-size: 0.875rem;
	margin-top: vr(2);
	padding-top: vr(1);
}
