/* ==========================================================================
   #HEADER
   ========================================================================== */

.app-header {
	margin-bottom: vr(1);
	padding-top: vr(1);
	padding-bottom: vr(1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-header__title {
	margin-bottom: 0;
	color: $color-black;

	a {
		color: inherit;
	}
}
