/* ==========================================================================
   #HEADER
   ========================================================================== */

.app-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: vr(1);
	padding-bottom: vr(1);
	padding-top: vr(1);
	position: relative;
}

.app-header__title {
	color: $color-black;
	margin-bottom: 0;

	a {
		color: inherit;
	}
}
