// New menu styles
.menu {
	// Reset the base <ul>
	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// Styles for <li>
	&__item {
		display: block;

		&--has-children {
			display: flex;
			flex-wrap: wrap;
			position: relative;
		}
	}

	&__anchor {
		color: $color-black;
		display: block;
		line-height: 1.2;
		padding: 15px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color-primary;
		}

		&:focus {
			outline-offset: -1px;
		}

		.menu__item--current & {
			color: $color-primary;
		}
	}

	// The sub-menus
	&__sub-menu {
		background-color: $color-white;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
		transition: all 250ms ease;
		visibility: hidden;

		// Make sure <li> items within a submenu are full width
		& > .menu__item {
			margin: 0;
			padding: 0;
		}
	}

	&__toggle {
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;

		@include mq(medium) {
			display: none;
		}
	}

	&__toggle {
		height: 50px;
		padding: 0.5rem;
		width: 50px;

		&:focus {
			outline: 1px dotted;
			outline-offset: -1px;
		}
	}

	&__toggle-icon {
		height: 100%;
		width: 100%;

		path {
			opacity: 1;
			transform: rotate(0) translate(0, 0);
			transform-origin: 50% 50%;
			transition: all 300ms ease;
		}

		[aria-expanded="true"] > & {

			path:nth-of-type(1) {
				transform: rotate(-45deg) translateY(42%);
			}

			path:nth-of-type(2) {
				opacity: 0;
			}

			path:nth-of-type(3) {
				transform: rotate(45deg) translateY(-42%);
			}
		}
	}

	&__submenu-toggle {
		background-color: $color-light-grey;
		border: none;
		color: $color-medium-grey;
		height: 55px;
		width: 55px;

		&:focus {
			outline: 1px dotted;
			outline-offset: -1px;
		}
	}


	&__dropdown-icon {
		fill: $color-medium-grey;
		height: 0.5rem;
		margin-left: 0.3rem;
		width: 0.5rem;
	}
}

.menu--is-mobile {

	.menu__anchor {
		flex: 1 1 0;
		padding: vr(3/4) vr(1);
	}

	.menu__items {
		background-color: $color-white;
		height: 0;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		transition: all 250ms ease;
		visibility: hidden;
		width: 100%;
	}

	.menu__item {
		border-top: 1px solid $color-light-grey;
	}

	[aria-expanded="true"] + .menu__items {
		height: auto;
		opacity: 1;
		visibility: visible;
	}

	.menu__sub-menu {
		flex-direction: column;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 100%;
	}

	[aria-expanded="true"] + .menu__sub-menu {
		visibility: visible;
	}

	.menu__submenu-toggle-icon {
		height: 1rem;
		transition: transform 250ms ease;
		width: 1rem;
	}

	[aria-expanded="true"] > .menu__submenu-toggle-icon {
		transform: rotate(180deg);
	}
}

.menu--is-desktop {

	.menu__items {
		display: flex;
		flex-direction: row;
	}

	> .menu__item + .menu__item {
		margin-left: 10px;
	}

	.menu__sub-menu {
		left: 0;
		margin: 0;
		min-width: 5rem;
		padding: 0;
		position: absolute;
		top: 100%;
		visibility: hidden;

		.menu__dropdown-icon {
			transform: rotate(-90deg);
		}
	}

	.menu__sub-menu .menu__sub-menu {
		left: 100%;
		right: auto;
		top: 0;
	}

	// Display our submenus if any of these conditions are met
	.menu__item:hover > .menu__sub-menu,
	.menu__item:focus-within > .menu__sub-menu,
	.has-focus-within > .menu__sub-menu,
	.menu__sub-menu:hover,
	.menu__sub-menu:focus,
	.is-toggled + .menu__sub-menu {
		visibility: visible;
	}
}

// Subsidiary menu
.menu--subsidiary {

	.menu__items {
		display: inline-flex;
	}
}
