.menu {
	// Reset the base <ul>
	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	// Styles for <li>
	&__item {
		display: block;
		float: left;
		position: relative;

		& + & {
			margin-left: vr(1);
		}
	}

	&__anchor {
		padding: vr(1/4);
		display: block;
		line-height: 1.2;
		font-weight: bold;
		color: $color-medium-grey;

		&:hover,
		&:focus {
			color: $color-black;
		}

		.menu__item--current & {
			color: $color-black;
		}

		.svg {
			width: vr(1/2);
			height: vr(1/2);
			color: $color-medium-grey;
			margin-left: 5px;

			// Rotate icon for sub sub menus
			.menu__sub-menu & {
				transform: rotate(-90deg);
			}
		}
	}

	// The sub-menus
	&__sub-menu {
		visibility: hidden;
		opacity: 0;
		min-width: 5rem;
		position: absolute;
		transition: all 0.5s ease;
		left: 0;
		margin: 0;
		padding: 0;
		background-color: $color-white;
		display: flex;
		flex-direction: column;

		// Make sure <li> items within a submenu are full width
		& > .menu__item {
			margin: 0;
			padding: 0;
		}

		& & {
			right: auto;
			left: 100%;
			top: 0;
		}
	}

	// Display our submenus if any of these conditions are met
	&__item:hover > &__sub-menu,
	&__item:focus-within > &__sub-menu,
	&__sub-menu:hover,
	&__sub-menu:focus {
		visibility: visible;
		opacity: 1;
	}
}
