////
/// Menu component.
///
/// @group Components
////

.menu {
	// Reset the base <ul>
	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// Styles for <li>
	&__item {
		display: block;

		&.has-children {
			display: flex;
			flex-wrap: wrap;
			position: relative;
		}
	}

	&__anchor {
		color: $color-menu-anchor;
		display: block;
		line-height: 1.2;
		padding: 15px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color-menu-anchor-hover;
		}

		&:focus {
			outline-offset: -1px;
		}

		.menu__item--current & {
			color: $color-menu-anchor-hover;
		}
	}

	// The sub-menus
	&__sub-menu {
		background-color: $color-menu-sub-menu-background;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		opacity: 0;
		padding: 0;
		transition: all $global-transition-duration $global-transition-type;
		visibility: hidden;
		z-index: 10;

		// Make sure <li> items within a submenu are full width
		& > .menu__item {
			margin: 0;
			padding: 0;
		}
	}

	&__toggle {
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;

		@include mq(medium) {
			display: none;
		}
	}

	&__toggle {
		height: 50px;
		padding: 0.5rem;
		width: 50px;

		&:focus {
			outline: 1px dotted;
			outline-offset: -1px;
		}
	}

	&__toggle-icon {
		height: 100%;
		width: 100%;

		path {
			opacity: 1;
			transform: rotate(0) translate(0, 0);
			transform-origin: 50% 50%;
			transition: all $global-transition-duration $global-transition-type;
		}

		[aria-expanded="true"] > & {

			path:nth-of-type(1) {
				transform: rotate(-45deg) translateY(42%);
			}

			path:nth-of-type(2) {
				opacity: 0;
			}

			path:nth-of-type(3) {
				transform: rotate(45deg) translateY(-42%);
			}
		}
	}

	&__submenu-toggle {
		background-color: $color-menu-sub-menu-toggle-background;
		border: none;
		color: $color-menu-sub-menu-toggle;
		height: 55px;
		width: 55px;

		&:focus {
			outline: 1px dotted;
			outline-offset: -1px;
		}
	}


	&__dropdown-icon {
		fill: $color-menu-dropdown-icon;
		height: 0.5rem;
		margin-left: 0.3rem;
		width: 0.5rem;
	}
}

.menu--is-mobile {

	.menu__link {
		flex: 1 1 0;
		padding: vr(3/4) vr(1);
	}

	.menu__items {
		background-color: $color-menu-items-background;
		height: 0;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		transition: all 250ms ease;
		visibility: hidden;
		width: 100%;
	}

	.menu__item {
		border-top: 1px solid $color-menu-item-border;
	}

	[aria-expanded="true"] + .menu__items {
		height: auto;
		opacity: 1;
		visibility: visible;
	}

	.menu__sub-menu {
		flex-direction: column;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		width: 100%;
	}

	[aria-expanded="true"] + .menu__sub-menu {
		opacity: 1;
		visibility: visible;
	}

	.menu__submenu-toggle-icon {
		height: 1rem;
		transition: transform $global-transition-duration $global-transition-type;
		width: 1rem;
	}

	[aria-expanded="true"] > .menu__submenu-toggle-icon {
		transform: rotate(180deg);
	}
}

.menu--is-desktop {

	.menu__items {
		display: flex;
		flex-direction: row;
	}

	> .menu__item + .menu__item {
		margin-left: 10px;
	}

	.menu__link {
		width: 100%;
	}

	.has-dropdown-icon {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.menu__sub-menu {
		border-top: 1px solid $color-menu-item-border;
		left: 0;
		margin: 0;
		min-width: 180px;
		padding: 0;
		position: absolute;
		top: 100%;
		visibility: hidden;

		.menu__dropdown-icon {
			transform: rotate(-90deg);
		}

		.menu__item {
			border: 1px solid $color-menu-item-border;
			border-top: 0;
		}
	}

	/**
	 * A sub-sub menu.
	 * Hopefully we won't need this...
	 *
	 * 1. Offset by the width of the border of the `menu__sub-menu`.
	*/
	.menu__sub-menu .menu__sub-menu {
		left: 100%;
		right: auto;
		top: -1px; /* [1] */
	}

	// Display our submenus if any of these conditions are met
	.menu__item:hover > .menu__sub-menu,
	.menu__item:focus-within > .menu__sub-menu,
	.has-focus-within > .menu__sub-menu,
	.menu__sub-menu:hover,
	.menu__sub-menu:focus,
	.is-toggled + .menu__sub-menu {
		opacity: 1;
		visibility: visible;
	}
}

// Subsidiary menu
.menu--subsidiary {

	.menu__items {
		display: inline-flex;
	}
}

// Widget menu
.menu--widget {

	.menu__item + .menu__item {
		margin-top: vr(1/4);
	}

	.menu__link {
		padding: 0;
		width: 100%;
	}

	.menu__sub-menu {
		opacity: 1;
		visibility: visible;
	}
}
