/* ==========================================================================
   #SVG
   ========================================================================== */

.svg {
	display: inline-block;
	fill: currentColor;
	height: 1rem;
	position: relative;
	top: -0.0625rem;
	vertical-align: middle;
	width: 1rem;
}

// Loop through all social icons
@each $social-network, $color in $colors-social {

	.svg--#{$social-network} {
		color: $color;
	}
}
