/* ==========================================================================
   #ALIGNMENT
   ========================================================================== */

.alignleft {
	float: left;
	margin-bottom: vr(1);
	margin-right: vr(1);
	max-width: 50%;

	@include mq($global-width) {
		margin-left: calc((100% - #{$global-width}) / 2);
	}
}

.alignright {
	float: right;
	margin-bottom: vr(1);
	margin-left: vr(1);
	max-width: 50%;

	@include mq($global-width) {
		margin-right: calc((100% - #{$global-width}) / 2);
	}
}

.aligncenter {
	clear: both;
	display: block;
	margin-bottom: vr(1);
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: rem($global-width-wide);
}

.alignfull {
	margin-left: -#{vr(1)};
	margin-right: -#{vr(1)};
	max-width: calc(100% + #{vr(2)});
}

.u-float-left {
	float: left;
}

.u-float-right {
	float: right;
}

.u-clear {
	clear: both;
}

.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: left;
}

.u-text-right {
	text-align: right;
}
