/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img {
	font-style: italic; /* [2] */
	height: auto;
	max-width: 100%; /* [1] */
	vertical-align: middle; /* [3] */
}

/// Make sure embeds and iframes fit their containers.
embed,
iframe,
object {
	max-width: 100%;
}

figure {
	margin: 0 0 vr(1);
	max-width: 100%;
	position: relative;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

figcaption {
	@include font-size(14px, $modifier: -1);
	font-style: italic;
	margin-top: vr(1/4);
	text-align: center;
	width: 100%;
}
