// Brand colors
$color-primary: #482880;
$color-secondary: #292f36;
$color-tertiary: #6b5ca5;

$color-primary-light: lighten($color-primary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);
$color-tertiary-light: lighten($color-primary, 10%);

$color-primary-dark: #482880;
$color-secondary-dark: #292f36;
$color-tertiary-dark: #6b5ca5;

// State colors
$color-alert: #8c182b;
$color-warning: #f6bf27;
$color-success: #407d80;


// Greyscale
$color-grey-900: #202833;
$color-grey-800: #404b5a;
$color-grey-700: #6e7a8a;
$color-grey-600: #929fb1;
$color-grey-500: #aebecd;
$color-grey-400: #ccd4db;
$color-grey-300: #d5dde5;
$color-grey-200: #e1e7ec;
$color-grey-100: #f8f9fa;

// Black/white
$color-black: $color-grey-900;
$color-white: #fff;

/// Component specific colors

// Page.
$color-background: $color-white;
$color-text: $color-grey-900;

// Borders.
$color-border: $color-grey-300;

// Headings.
$color-heading: $color-black;

// Links.
$color-link: $color-primary;
$color-link-hover: $color-black;

// Buttons.
$color-button: $color-white;
$color-button-background: $color-primary;
$color-button-hover: $color-white;
$color-button-hover-background: $color-primary + 50;
$color-button-outline: $color-primary;
$color-button-outline-border: $color-primary;
$color-button-outline-hover: $color-white;
$color-button-outline-hover-background: $color-primary;

// Forms
$color-form-fieldset-border: $color-border;
$color-form-input-background: $color-white;
$color-form-input: $color-text;
$color-form-input-border: $color-border;
$color-form-input-border-focus: $color-primary;
$color-form-input-required: $color-alert;
$color-form-label: $color-text;

// Blockquotes.
$color-blockquote: $color-grey-900;
$color-blockquote-border: $color-grey-300;

// Cite.
$color-cite: $color-primary;

// Code.
$color-code: $color-grey-900;
$color-code-background: $color-grey-100;

// HR.
$color-hr: $color-grey-300;

// Colors used for social networks
$colors-social: (
	facebook: #3b5998,
	instagram: #c13584,
	linkedin: #0077b5,
	pinterest: #bd081c,
	twitter: #1da1f2,
	vimeo: #1ab7ea,
	youtube: #cd201f
);

// Site Header.
$color-header-title: $color-text;

// Menu.
$color-menu-items-background: $color-white;
$color-menu-item-border: $color-border;
$color-menu-link: $color-text;
$color-menu-link-hover: $color-primary;
$color-menu-dropdown-icon: $color-grey-900;
$color-menu-sub-menu-background: $color-white;
$color-menu-sub-menu-toggle: $color-grey-900;
$color-menu-sub-menu-toggle-background: $color-grey-300;

// Pagination.
$color-pagination-anchor-border: $color-border;

// Tables.
$color-table-border: $color-border;
$color-table-striped-background: $color-grey-300;
