// Brand colors
$color-primary: #544882;
$color-secondary: #292f36;
$color-tertiary: #6b5ca5;

// State colors
$color-alert: #8c182b;
$color-warning: #f6bf27;
$color-success: #407d80;

// Black/white
$color-black: #1e1e1e;
$color-white: #fff;

// Greyscale
$color-dark-grey: #313439;
$color-mid-grey: #676b72;
$color-grey: #bdbdbd;
$color-light-grey: #d4d4d4;
$color-silver-grey: #e0e1e1;
$color-aluminium-grey: #f8f8f8;


/// Component specific colors

// Page.
$color-background: $color-white;
$color-text: $color-dark-grey;

// Borders.
$color-border: $color-light-grey;

// Headings.
$color-heading: $color-black;

// Links.
$color-link: $color-primary;
$color-link-hover: $color-black;

// Buttons.
$color-button: $color-white;
$color-button-background: $color-primary;
$color-button-hover: $color-white;
$color-button-hover-background: $color-primary + 50;
$color-button-outline: $color-primary;
$color-button-outline-border: $color-primary;
$color-button-outline-hover: $color-white;
$color-button-outline-hover-background: $color-primary;

// Forms
$color-form-fieldset-border: $color-border;
$color-form-input-background: $color-white;
$color-form-input: $color-text;
$color-form-input-border: $color-border;
$color-form-input-border-focus: $color-primary;
$color-form-input-required: $color-alert;
$color-form-label: $color-text;

// Blockquotes.
$color-blockquote: $color-dark-grey;
$color-blockquote-border: $color-light-grey;

// Cite.
$color-cite: $color-primary;

// Code.
$color-code: $color-dark-grey;
$color-code-background: $color-aluminium-grey;

// HR.
$color-hr: $color-light-grey;

// Colors used for social networks
$colors-social: (
	facebook: #3b5998,
	instagram: #c13584,
	linkedin: #0077b5,
	pinterest: #bd081c,
	twitter: #1da1f2,
	vimeo: #1ab7ea,
	youtube: #cd201f
);

// Site Header.
$color-header-title: $color-text;

// Menu.
$color-menu-items-background: $color-white;
$color-menu-item-border: $color-border;
$color-menu-link: $color-text;
$color-menu-link-hover: $color-primary;
$color-menu-dropdown-icon: $color-dark-grey;
$color-menu-sub-menu-background: $color-white;
$color-menu-sub-menu-toggle: $color-dark-grey;
$color-menu-sub-menu-toggle-background: $color-light-grey;

// Pagination.
$color-pagination-anchor-border: $color-border;

// Tables.
$color-table-border: $color-border;
$color-table-striped-background: $color-light-grey;
