@mixin button() {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid transparent;
	border-radius: $global-radius;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	line-height: 1;
	padding: vr(1/2) vr(3/4);
	text-align: center;
	text-decoration: none;
	transition: all $global-transition-duration $global-transition-type;
	vertical-align: middle;
}


@mixin button-style(
	$background-color: $color-primary,
	$color: $color-white,
	$background-color-hover: null,
	$color-hover: null,
	$border: null,
	$border-hover: null
) {
	@if $background-color {
		$background-color-hover: if($background-color-hover, $background-color-hover, $background-color - 20);
	}

	background-color: $background-color;
	color: $color;

	&:hover,
	&:focus {
		background-color: $background-color-hover;
		color: $color-hover;
	}
}
