@mixin button() {
	-webkit-appearance: none;
	border: 1px solid transparent;
	border-radius: $global-radius;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	font-weight: 700;
	height: vr(1.75);
	padding: vr(1/4) vr(3/4);
	text-decoration: none;
	transition: all $global-transition-duration $global-transition-type;
	vertical-align: middle;
}


@mixin button-style(
	$background-color: $color-primary,
	$color: $color-white,
	$background-color-hover: null,
	$color-hover: null
) {
	$background-color-hover: if($background-color-hover, $background-color-hover, $background-color - 20);
	background-color: $background-color;

	color: $color;

	&:hover,
	&:focus {
		background-color: $background-color-hover;
		color: $color-hover;
	}
}
