@mixin button() {
	font: inherit;
	border-radius: $global-radius;
	padding: vr(1/4) vr(3/4);
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: 1px solid transparent;
	vertical-align: middle;
	-webkit-appearance: none;
	transition: $global-transition;
	height: vr(1.75);
}


@mixin button-style(
	$background-color: $color-primary,
	$color: $color-white,
	$background-color-hover: null,
	$color-hover: null
) {
	$background-color-hover: if($background-color-hover, $background-color-hover, $background-color - 20);

	color: $color;
	background-color: $background-color;

	&:hover,
	&:focus {
		color: $color-hover;
		background-color: $background-color-hover;
	}
}
