@mixin wrapper(
	$width: $global-width,
	$margin: auto,
	$padding: null
) {
	margin-left: $margin;
	margin-right: $margin;
	max-width: rem($width);
	padding-left: $padding;
	padding-right: $padding;
}
