/* Colors
   ========================================================================== */

$color-primary: #4ecdc4;
$color-secondary: #292f36;
$color-alert: #ff6b6b;
$color-warning: #ffe66d;
$color-success: #4ecdc4;

$color-white: #fff;
$color-black: #000;

$color-light-grey: #ccc;
$color-medium-grey: #666;
$color-dark-grey: #333;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-primary;
$color-hover: $color-primary + 20;

// Borders
$color-border: $color-light-grey;
