/* Colors
   ========================================================================== */

$color-primary: #4ecdc4;
$color-secondary: #292f36;
$color-alert: #ff6b6b;
$color-warning: #ffe66d;
$color-success: #4ecdc4;

$color-white: #fff;
$color-black: #000;

$color-light-grey: #f2f2f2;
$color-medium-grey: #666;
$color-dark-grey: #333;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-secondary;
$color-hover: $color-link + 20;

// Borders
$color-border: $color-light-grey;

// Colors used for social networks
$colors-social: (
	facebook: #3b5998,
	instagram: #c13584,
	linkedin: #0077b5,
	pinterest: #bd081c,
	twitter: #1da1f2,
	vimeo: #1ab7ea,
	youtube: #cd201f
);
