///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Media queries used throughout.
$mq-breakpoints: (
	small: 320px,
	medium: 740px,
	large: 980px,
	xlarge: 1300px
);

// Baseline grid lines height.
$global-baseline: 6px !default;

// Base typographical styles.
$global-font-size: 16px !default;
$global-line-height: $global-baseline * 4 !default;

// Other global settings.
$global-radius: 3px !default;
$global-transition-duration: 300ms !default;
$global-transition-type: ease-in-out !default;

// Global widths used throughout to constrain elements.
$global-width: (
	base: 1140px,
	narrow: 800px,
	wide: 1400px
);
