///* ========================================================================
//   #TYPOGRAPHY
//   ======================================================================== */

$font-family-body: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family-heading: $font-family-body !default;
$font-family-code: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace !default;
$font-family-pre: "Courier 10 Pitch", "Courier", monospace !default;
