///* ========================================================================
//   #TYPOGRAPHY
//   ======================================================================== */

// Font families.
$font-family-body: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family-heading: $font-family-body !default;
$font-family-code: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace !default;
$font-family-pre: "Courier 10 Pitch", "Courier", monospace !default;

// Base typographical sizing used with the Typi library.
$typi: (
	base: (
		null: (16px, 1.4)
	),
	h1: (
		null: (42px, 1.2),
	),
	h2: (
		null: (32px, 1.2),
	),
	h3: (
		null: (26px, 1.3),
	),
	h4: (
		null: (24px, 1.3),
	),
	h5: (
		null: (22px, 1.3),
	),
	h6: (
		null: (18px, 1.3),
	),
	small: (
		null: (14px)
	)
);
