/**
 * Blocks stylesheet for the theme.
 * This is for the editor in WordPress 5.0 and beyond.
 */

/**
 * Settings.
 *
 * Settings handle the configuration and don't output CSS. This is a good
 * place to define things like variables.
 */

@import "settings/global";
@import "settings/colors";


/**
 * Tools.
 *
 * These are used throughout the code but don't output CSS on their own.
 * Things like mixins and extensions go here.
 */

@import "tools/units";
@import "tools/clearfix";
@import "tools/hidden";
@import "tools/button";
@import "tools/font-size";
@import "tools/vr";
@import "tools/responsive-embed";
@import "tools/wrapper";


/**
 * Elements.
 *
 * Elements are (or should be) class-less designs for the base
 * HTML elements.
 */

@import "elements/headings";
@import "elements/links";
@import "elements/blockquote";
@import "elements/lists";
@import "elements/hr";
@import "elements/tables";
@import "elements/media";
@import "elements/code";
@import "elements/misc";


/**
 * Blocks.
 *
 * Blocks are styles for specific editor blocks.
 */

@import "blocks/wp-block-audio";
@import "blocks/wp-block-button";
@import "blocks/wp-block-categories";
@import "blocks/wp-block-code";
@import "blocks/wp-block-columns";
@import "blocks/wp-block-cover";
@import "blocks/wp-block-embed";
@import "blocks/wp-block-file";
@import "blocks/wp-block-gallery";
@import "blocks/wp-block-image";
@import "blocks/wp-block-latest-posts";
@import "blocks/wp-block-media-text";
@import "blocks/wp-block-preformatted";
@import "blocks/wp-block-pullquote";
@import "blocks/wp-block-quote";
@import "blocks/wp-block-separator";
@import "blocks/wp-block-table";
@import "blocks/wp-block-verse";


/**
 * Utilities.
 *
 * Utilities are helper classes and overrides.  This gets loaded last.
 * If necessary, this is the only place where `!important` rules should
 * go, but only if necessary.
 */

@import "utilities/alignment";
@import "utilities/clearfix";
@import "utilities/color-palette";
@import "utilities/headings";
@import "utilities/hide";


/**
 * Editor related styles which overwrite above styles.
 */

body {
	background-color: $color-background;
	color: $color-text;
	font-family: $font-family-body;
	font-size: $global-font-size;
	line-height: $global-line-height;
}

p {
	font-size: $global-font-size;
}

.editor-post-title__block .editor-post-title__input {
	@include font-size($h1);
	color: $color-heading;
	font-family: $font-family-heading;
	font-weight: $font-weight-heading;
}

// Sets the default width of the content and the title.
.wp-block {
	max-width: $global-width;

	// Wide aligned blocks.
	&[data-align="wide"] {
		max-width: $global-width-wide;
	}

	// Full width aligned blocks.
	&[data-align="full"] {
		max-width: none;
	}
}
