/* ==========================================================================
   #LAYOUT
   ========================================================================== */

.grid {
	display: flex;
	flex-wrap: wrap;
}

.grid--2 {

	.entry {
		@include mq(medium) {
			@include nth-grid(2);
		}
	}
}

.grid--3 {

	.entry {
		@include mq(medium) {
			@include nth-grid(3);
		}
	}
}

.grid--4 {

	.entry {
		@include mq(medium) {
			@include nth-grid(4);
		}
	}
}

.grid--auto {
	@include mq(medium) {

		> * {
			flex: 1 1 0;
			margin-right: vr(1);

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// Layout for content with sidebar
.has-sidebar-primary {
	@include mq(medium) {

		.app-content {
			display: flex;
			flex-wrap: wrap;

			> * {
				@include nth-grid(2 1);
			}
		}
	}
}
