/* ==========================================================================
   #LAYOUT
   ========================================================================== */

.grid {
	display: flex;
	flex-wrap: wrap;

	> .entry {
		lost-column: 1/3;
	}
}
