/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

.o-list-inline {
	list-style: none;
	margin-left: 0;

	&__item {
		display: inline-block;
	}
}
