/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.wrapper {
	@include wrapper(map-get($global-width, base), $padding: vr(1));

	&--narrow {
		@include wrapper(map-get($global-width, narrow));
	}

	&--wide {
		@include wrapper(map-get($global-width, wide));
	}

	&--full {
		max-width: 100%;
	}

	&--flush {
		padding-left: 0;
		padding-right: 0;
	}
}
