.archive-header {
	flex: 0 0 100%;
	margin-bottom: vr(2);
	text-align: center;

	&__title {}

	&__description {
		@include font-size($h4);
		color: $color-grey-700;

		:last-child {
			margin-bottom: 0;
		}
	}
}
