////
/// Comment component.
///
/// @group Components
////

.comment {
	align-items: flex-start;
	display: flex;

	// The comment avatar.
	&__avatar {
		margin-right: vr(1/2);
		min-width: 32px;

		&-img {
			border-radius: $global-radius;
		}
	}

	// Full comment content container.
	// [1] - fixes a bug when content doesn't wrap.
	&__body {
		flex: 1;
		min-width: 0; // [1]
	}

	// Metadata wrapper.
	&__meta {
		margin-bottom: vr(1/4);
	}

	&__author {
		font-weight: 700;
		text-decoration: none;

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	&__date {}

	&__time {}

	&__permalink,
	&__edit {
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	// Full comment text/content.
	&__content {
		margin-bottom: vr(1/4);

		> :last-child {
			margin-bottom: 0;
		}
	}

	// Comment actions (reply link etc).
	&__actions {
		margin-bottom: vr(1.5);
	}

	&__reply {
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	&__reply-icon {
		height: vr(1/2);
		margin-right: vr(1/4);
		width: vr(1/2);
	}

	// Comment under moderation message.
	&__moderation {}

	// Type of comment.
	&--type-comment {}

	&--type-ping {}

	// Comment status.
	&--status-unapproved {}
}
