.entry {
	margin-bottom: vr(2);

	// Featured image.
	&__image {
		margin-bottom: vr(1/2);
	}

	// Header wrapper.
	&__header {}

	// Entry title.
	&__title {}

	&__permalink {
		text-decoration: none;
	}

	// Meta wrappers.
	&__byline {
		@include font-size(16px);
		color: $color-grey-700;
		margin-bottom: vr(1);
	}

	&__published {}

	&__author {
		color: inherit;
	}

	&__comments {
		color: inherit;
	}

	// Full entry content.
	&__content {
		@include clearfix;
		margin-bottom: vr(2);

		> * {
			@include wrapper($global-width);
		}

		// Make links have an underline
		// when no class is present.
		a:not([class]) {
			text-decoration: underline;
		}

		> ol:not([class]),
		> ul:not([class]) {
			padding-left: vr(1.5);
		}
	}

	// Summary/Excerpt.
	&__summary {

		> ol:not([class]),
		> ul:not([class]) {
			padding-left: vr(1.5);
		}
	}

	&__footer {}

	&__terms-wrapper {
		color: $color-grey-700;
		display: block;

		& + & {
			margin-top: vr(1/4);
		}
	}

	&__terms {
		margin-left: vr(1/4);

		a {
			color: inherit;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}

	&__terms-icon {
		fill: currentColor;
		height: 16px;
		width: 16px;
	}

	// Sticky posts.
	&.sticky {}

	// Type of entry/post.
	&--type-post {}

	&--type-page {}
}
