.menu {

	// The base <ul> of a menu.
	&__items {
		background-color: $color-menu-items-background;
		display: flex;
		flex-direction: column;
		height: 0;
		left: 0;
		list-style: none;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: 100%;
		transition: all 250ms ease;
		visibility: hidden;
		width: 100%;

		@include mq(medium) {
			flex-direction: row;
			height: auto;
			opacity: 1;
			overflow: initial;
			position: static;
			visibility: visible;
		}

		// show the menu when the toggle is expanded.
		[aria-expanded="true"] + & {
			height: auto;
			opacity: 1;
			visibility: visible;
		}
	}

	// Styles for <li>
	&__item {
		display: block;

		@include mq(medium) {

			& + & {
				margin-left: 10px;
			}
		}

		&.has-children {
			display: flex;
			flex-wrap: wrap;
			position: relative;
		}
	}

	// Styles for <a>
	&__link {
		color: $color-menu-link;
		display: block;
		flex: 1 1 0;
		line-height: 1.2;
		padding: vr(1/2) vr(1);
		text-decoration: none;

		@include mq(medium) {
			padding: vr(1/2);
		}

		&:hover,
		&:focus {
			color: $color-menu-link-hover;
			text-decoration: none;
		}

		&:focus {
			outline-offset: -1px;
		}

		// Current menu item styles
		.menu__item--current & {
			color: $color-menu-link-hover;
		}
	}

	// The sub-menus
	&__sub-menu {
		background-color: $color-menu-sub-menu-background;
		display: flex;
		flex-direction: column;
		height: 0;
		list-style: none;
		margin: 0;
		opacity: 0;
		padding: 0;
		transition: all $global-transition-duration $global-transition-type;
		visibility: hidden;
		width: 100%;
		z-index: 10;

		@include mq(medium) {
			box-shadow: 0 vr(1/4) vr(1) rgba($color-black, 0.1);
			font-size: 95%;
			height: auto;
			left: 0;
			min-width: 180px;
			position: absolute;
			top: 100%;
		}

		// A sub-sub menu.
		// 1. Offset by width of the border of the `menu__sub-menu`.
		& & {
			left: 100%;
			right: auto;
			top: -1px; // [1]
		}

		// Make sure <li> items within a sub menu are full width
		> .menu__item {
			margin: 0;
			padding: 0;
		}

		// Expand sub-menu when toggle is used
		[aria-expanded="true"] + & {
			opacity: 1;
			visibility: visible;
		}
	}

	// Display our sub-menus if any of these conditions are met
	@include mq(medium) {

		.has-focus-within > &__sub-menu,
		.is-toggled + &__sub-menu,
		&__sub-menu:hover,
		&__sub-menu:focus,
		&__item:hover > &__sub-menu,
		&__item:focus-within > &__sub-menu {
			opacity: 1;
			visibility: visible;
		}
	}

	// Rotate icon for sub-menusas they open to the right
	&__sub-menu &__dropdown-icon {
		transform: rotate(-90deg);
	}

	&__toggle {
		background-color: transparent;
		border: none;
		cursor: pointer;
		height: 50px;
		padding: 0.5rem;
		width: 50px;

		@include mq(medium) {
			display: none;
		}

		&:focus {
			outline: 1px dotted;
			outline-offset: -1px;
		}
	}

	&__toggle-icon {
		height: 100%;
		width: 100%;

		path {
			opacity: 1;
			transform: rotate(0) translate(0, 0);
			transform-origin: 50% 50%;
			transition: all $global-transition-duration $global-transition-type;
		}

		[aria-expanded="true"] > & {

			path:nth-of-type(1) {
				transform: rotate(-45deg) translateY(42%);
			}

			path:nth-of-type(2) {
				opacity: 0;
			}

			path:nth-of-type(3) {
				transform: rotate(45deg) translateY(-42%);
			}
		}
	}

	&__sub-menu-toggle {
		background-color: $color-menu-sub-menu-toggle-background;
		border: none;
		color: $color-menu-sub-menu-toggle;
		width: 48px;

		&:focus {
			outline: 1px dotted;
			outline-offset: -1px;
		}
	}


	&__dropdown-icon {
		fill: $color-menu-dropdown-icon;
		height: 0.5rem;
		margin-left: 0.3rem;
		width: 0.5rem;
	}

	&__sub-menu-toggle-icon {
		height: 1rem;
		transition: transform $global-transition-duration $global-transition-type;
		width: 1rem;

		[aria-expanded="true"] > & {
			transform: rotate(180deg);
		}
	}

	.has-dropdown-icon {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

// Subsidiary menu
.menu--subsidiary {

	.menu__items {
		display: inline-flex;
	}
}

// Widget menu
.menu--widget {

	.menu__item + .menu__item {
		margin-top: vr(1/4);
	}

	.menu__link {
		padding: 0;
		width: 100%;
	}

	.menu__sub-menu {
		opacity: 1;
		visibility: visible;
	}
}

