.menu {

	// The base <ul> of a menu.
	&__items {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// Styles for <li>
	&__item {
		display: block;
	}

	// Styles for <a>
	&__link {
		display: block;
		text-decoration: none;
	}

	// The main toggle for the menu.
	&__toggle {
		background-color: transparent;
		border: none;
		cursor: pointer;
		height: 50px;
		padding: vr(1/2);
		width: 50px;

		// This triggers the whole responsive menu.
		@include mq(medium) {
			display: none;
		}

		&-icon {
			height: 100%;
			width: 100%;

			path {
				opacity: 1;
				transform: rotate(0) translate(0, 0);
				transform-origin: 50% 50%;
				transition: all $global-transition-duration $global-transition-type;
			}

			// Animate the hamburger icon on open.
			[aria-expanded="true"] > & {

				path:nth-of-type(1) {
					transform: rotate(-45deg) translateY(42%);
				}

				path:nth-of-type(2) {
					opacity: 0;
				}

				path:nth-of-type(3) {
					transform: rotate(45deg) translateY(-42%);
				}
			}
		}
	}

	// The toggle used to expand a sub menu on smaller screens.
	&__sub-menu-toggle {
		background-color: $color-black;
		border: none;
		width: 40px;

		// .menu__sub-menu-toggle-icon
		&-icon {
			fill: $color-white;
			height: 1rem;
			transition: transform $global-transition-duration $global-transition-type;
			width: 1rem;
	
			// Transform icon when menu is expanded.
			[aria-expanded="true"] > & {
				transform: rotate(180deg);
			}
		}
	}
}

.menu--responsive {

	.menu__items {
		display: flex;
		flex-direction: column;
		height: 0;
		left: 0;
		list-style: none;
		margin: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: 100%;
		transition: all $global-transition-duration $global-transition-type;
		visibility: hidden;
		width: 100%;
		z-index: 1;

		@include mq(medium) {
			flex-direction: row;
			height: auto;
			opacity: 1;
			overflow: initial;
			position: static;
			visibility: visible;
		}
	}

	// show the menu when the toggle is expanded.
	[aria-expanded="true"] + .menu__items {
		height: auto;
		opacity: 1;
		visibility: visible;
	}

	// Styles for <li>.
	.menu__item {
		display: block;
	}

	// Menu items which have a sub menu.
	.has-children {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	// Styles for <a>
	.menu__link {
		display: block;
		flex: 1 1 0px;
		padding: vr(1/4) vr(1/2);
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	// A menu link that has a dropdown indicator.
	.has-dropdown-icon {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	
	// The icon used on larger screens to indicate there is a dropdown.
	.menu__dropdown-icon {
		height: 0.5rem;
		margin-left: vr(1/4);
		width: 0.5rem;
	}

	.menu__sub-menu .menu__dropdown-icon {
		transform: rotate(-90deg);
	}

	// Current menu item styles
	.menu__item--current .menu__link {}

	// The sub-menus
	.menu__sub-menu {
		display: flex;
		flex-direction: column;
		height: 0;
		list-style: none;
		margin: 0;
		opacity: 0;
		padding: 0;
		visibility: hidden;
		width: 100%;
		z-index: 100;
		transition: height $global-transition-duration $global-transition-type;

		@include mq(medium) {
			height: auto;
			left: 0;
			min-width: 180px;
			position: absolute;
			top: 100%;
		}

		// Make sure <li> items within a sub menu are full width
		> .menu__item {
			margin: 0;
			padding: 0;
		}
	}

	// Expand sub-menu when toggle is used
	[aria-expanded="true"] + .menu__sub-menu {
		opacity: 1;
		visibility: visible;
	}

	// Display dropdown menus on hover.
	@include mq(medium) {
		.has-focus-within > .menu__sub-menu,
		.is-toggled + .menu__sub-menu,
		.menu__sub-menu:hover,
		.menu__sub-menu:focus,
		.menu__item:hover > .menu__sub-menu,
		.menu__item:focus-within > .menu__sub-menu {
			opacity: 1;
			visibility: visible;
		}
	}

	// A sub-sub menu.
	.menu__sub-menu .menu__sub-menu {
		left: 100%;
		right: auto;
		top: 0;
	}
}

// Subsidiary menu
.menu--subsidiary {

	.menu__items {
		display: inline-flex;
	}
}

// Widget menu
.menu--widget {

	.menu__item + .menu__item {
		margin-top: vr(1/4);
	}

	.menu__link {
		padding: 0;
		width: 100%;
	}

	.menu__sub-menu {
		opacity: 1;
		visibility: visible;
	}
}

