.table--fixed {
	table-layout: fixed;
}

// Border around each cell
.table--bordered {

	th,
	td {
		border: 1px solid $color-table-border;
		padding: vr(1/2);
	}
}

.table--ruled {

	th,
	td {
		border-bottom: 1px solid $color-table-border;
		padding: vr(1/2);
	}
}

// Odd striped rows
.table--striped {

	th,
	td {
		padding: vr(1/2);
	}

	tbody tr:nth-child(odd) {
		background: $color-table-striped-background;
	}
}
