/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
	padding-left: vr(1);
	border-left: 4px solid $color-light-grey;
	color: $color-dark-grey;
	margin-bottom: vr(1);

	p:last-child {
		margin-bottom: 0;
	}
}
