/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
	padding-left: vr(1);
	border-left: 4px solid $color-light-grey;
	color: $color-dark-grey;
	font-style: italic;
	margin-bottom: vr(1);

	p:first-child {

		&::before {
			content: open-quote;
		}
	}

	p:last-child {
		margin-bottom: 0;

		&::after {
			content: close-quote;
		}
	}
}
