/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
	border-left: 4px solid $color-light-grey;
	color: $color-dark-grey;
	margin-bottom: vr(1);
	padding-left: vr(1);

	p {
		@include font-size(24px);
	}

	p:last-child {
		margin-bottom: 0;
	}
}
