code,
kbd,
pre,
samp,
var {
	@include font-size(14px);
	font-family: $font-family-monospace;
}

code,
kbd,
mark,
samp {
	background-color: $color-aluminium-grey;
	color: $color-dark-grey;
	display: inline-block;
	line-height: 1;
	padding: vr(1/4);
}

pre {
	@include font-size($global-font-size);
	background-color: $color-aluminium-grey;
	color: $color-dark-grey;
	display: block;
	margin-bottom: vr(1);
	overflow: auto;
	padding: vr(1);
	white-space: pre;

	code {
		background-color: transparent;
		font-size: inherit;
		line-height: inherit;
		padding: 0;
	}
}
