// 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
// on fieldsets.
fieldset {
	border: 1px solid $color-medium-grey;
	font-family: inherit;
	margin-bottom: vr(1);
	min-width: 0; /* [1] */
	padding: vr(1);
}

legend {
	font-weight: 700;
	margin-left: -#{vr(1/2)};
	padding: 0 vr(1/2);
	text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	background-color: $color-white;
	border: 1px solid $color-medium-grey;
	border-radius: $global-radius;
	display: block;
	font-family: inherit;
	height: vr(1.75);
	outline: none;
	padding: vr(1/4) vr(1/2);
	width: 100%;
}

select[multiple] {
	height: auto;
	padding: vr(1/4) vr(1/2);
}

textarea {
	height: auto;
	padding: vr(1/2);
	vertical-align: top;
}

input[type="file"] {
	background: none;
	border: none;
	box-shadow: none;
	display: inline-block;
	height: auto;
	padding: 0;
	width: auto;
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	height: auto;
	padding: 0;
	width: auto;

	& + & {
		margin-left: vr(1/2);
	}
}

input,
textarea,
select {

	&:focus {
		background-color: $color-white;
		box-shadow: 0 0 2px $color-primary;
		outline: none;
	}

	&:disabled {
		color: $color-medium-grey;
		cursor: not-allowed;
		font-style: italic;
		opacity: 0.3;
		resize: none;
	}
}

label {
	color: $color-dark-grey;
	display: block;
	font-weight: 700;
	margin-bottom: vr(1/4);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
	@include button-style($color-light-grey, $color-black);
}
