fieldset {
	font-family: inherit;
	border: 1px solid $color-medium-grey;
	padding: vr(1);
	margin-bottom: vr(1);
	margin-top: vr(1);
}

legend {
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 vr(1/2);
	margin-left: -#{vr(1/2)};
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea,
select {
	display: block;
	width: 100%;
	font-family: inherit;
	height: vr(1.5);
	outline: none;
	background-color: $color-white;
	border: 1px solid $color-medium-grey;
	border-radius: $global-radius;
	padding: 0 vr(1/2);
}

select[multiple] {
	height: auto;
	padding: vr(1/4) vr(1/2);
}

textarea {
	height: auto;
	padding: vr(1/2);
	vertical-align: top;
}

input[type="file"] {
	width: auto;
	border: none;
	padding: 0;
	height: auto;
	background: none;
	box-shadow: none;
	display: inline-block;
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 0;
}

input[type="submit"] {
	@include button;
	@include button-style($color-primary);
}

input,
textarea,
select {

	&:focus {
		outline: none;
		background-color: $color-white;
		border-color: $color-primary;
	}

	&:disabled {
		resize: none;
		opacity: 0.3;
		cursor: not-allowed;
		font-style: italic;
		color: $color-medium-grey;
	}
}

label {
	display: block;
	color: $color-dark-grey;
	margin-bottom: vr(1/4);
	font-weight: 700;
}
