/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $font-family-heading;
	margin-bottom: vr(1/2);
	font-weight: 700;

	a {
		color: inherit;
	}
}

h1 {
	@include font-size(42px);
}

h2 {
	@include font-size(32px);
}

h3 {
	@include font-size(26px);
}

h4 {
	@include font-size(24px);
}

h5 {
	@include font-size(22px);
}

h6 {
	@include font-size(18px);
}
