/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1 {
	@include typi(h1);
	margin-bottom: vr(1/2);
}

h2 {
	@include typi(h2);
	margin-top: vr(1.5);
	margin-bottom: vr(1/2);
}

h3 {
	@include typi(h3);
	margin-top: vr(1.5);
	margin-bottom: vr(1/2);
}

h4 {
	@include typi(h4);
	margin-top: vr(1.5);
	margin-bottom: vr(1/2);
}

h5 {
	@include typi(h5);
	margin-top: vr(1.5);
	margin-bottom: vr(1/2);
}

h6 {
	@include typi(h6);
	margin-top: vr(1.5);
	margin-bottom: vr(1/2);
}

