/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
	margin-bottom: vr(1/2);
	font-weight: 700;

	a {
		color: inherit;
	}
}

h1 {
	@include typi(h1);
}

h2 {
	@include typi(h2);
}

h3 {
	@include typi(h3);
}

h4 {
	@include typi(h4);
}

h5 {
	@include typi(h5);
}

h6 {
	@include typi(h6);
}
