/* ==========================================================================
   #HR
   ========================================================================== */

hr {
	border: 0;
	border-bottom: 2px solid $color-light-grey;
	clear: both;
	height: 0;
	margin-bottom: vr(2);
	margin-top: vr(2);
}
