/* ==========================================================================
   #HR
   ========================================================================== */

hr {
	background-color: $color-light-grey;
	border: 0;
	height: 2px;
	margin-bottom: vr(1);
	margin-top: vr(1);
}
