/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
	color: $color-primary;
	transition: all $global-transition-duration $global-transition-type;

	&:not([class]) {
		text-decoration: none;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-primary + 30;
	}

	&:focus {
		outline: 1px dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
