/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
	color: $color-primary;
	transition: $global-transition;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $color-primary - 20;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
