/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
	color: $color-link;
	transition: $global-transition;

	&:hover,
	&:focus,
	&:active {
		color: $color-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
