/* ==========================================================================
   #LISTS
   ========================================================================== */

ul,
ol {
	margin-left: vr(1.5);
	margin-bottom: vr(1);
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li > {

	ol,
	ul {
		margin-bottom: 0;
	}
}

dl {
	margin-bottom: vr(1);
}

dd {
	margin-bottom: vr(1/4);
	margin-left: vr(1/2);
}

dt {
	font-weight: 700;
}
