/* ==========================================================================
   #LISTS
   ========================================================================== */

ul,
ol {
	margin-left: vr(1.5);
	margin-bottom: vr(1);
}

dl {
	margin-bottom: vr(1);
}

dt {
	font-weight: bold;
}
