/* ==========================================================================
   #MISC
   ========================================================================== */

address {
	margin-bottom: vr(1);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

cite {
	color: $color-primary;
}
