/* ==========================================================================
   #HTML
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
	@include baseline; /* [1] */

	background: $color-bg;
	color: $color-text;
	font-family: $font-family-body;
	min-height: 100%; /* [3] */
	overflow-y: scroll; /* [2] */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	margin-bottom: vr(1);
}
