/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor in WordPress 5.0 and beyond.
 */

// SETTINGS
//
// Settings handle the configuration and don't output CSS. This is a good
// place to define things like variables.

@import "settings/global";
@import "settings/colors";
@import "settings/typography";


// TOOLS
//
// These are used throughout the code but don't output CSS on their own.
// Things like mixins and extensions go here.

@import "tools/units";
@import "tools/clearfix";
@import "tools/hidden";
@import "tools/button";
@import "tools/font-size";
@import "tools/baseline";
@import "tools/vr";
@import "tools/responsive-embed";
@import "node_modules/sass-mq/mq";
@import "node_modules/nth-grid/sass/nth-grid";

// Kick off the editor styles.
.edit-post-visual-editor {

	// ElEMENTS
	//
	// Elements are (or should be) class-less designs for the base
	// HTML elements.

	@import "elements/page";
	@import "elements/headings";
	@import "elements/links";
	@import "elements/blockquote";
	@import "elements/lists";
	@import "elements/hr";
	@import "elements/tables";
	@import "elements/media";
	@import "elements/code";
	// @import "elements/forms"; // @TODO work out how we could make this work
	@import "elements/misc";


	/*--------------------------------------------------------------
	# Blocks - editor related styles.
	--------------------------------------------------------------*/
	@import "blocks/color-palette";
	@import "blocks/audio";
	@import "blocks/button";
	@import "blocks/columns";
	@import "blocks/cover-image";
	@import "blocks/gallery";
	@import "blocks/image";
	@import "blocks/latest-posts";
	@import "blocks/pullquote";
	@import "blocks/quote";
	@import "blocks/separator";
	@import "blocks/subhead";


	// UTILITIES
	//
	// Utilities are helper classes and overrides.  This gets loaded last.
	// If necessary, this is the only place where `!important` rules should
	// go, but only if necessary.

	@import "utilities/alignment";
	@import "utilities/clearfix";
	@import "utilities/headings";
	@import "utilities/hide";

	// Set base styles for the editor.
	background-color: $color-background;
	color: $color-text;
	font-family: $font-family-body;
	font-size: $global-font-size;
	line-height: $global-line-height;

	// Set bottom margin for paragraphs.
	p {
		font-family: $font-family-body;
		font-size: $global-font-size;
		line-height: $global-line-height;
		margin-bottom: 0;
	}

	ul,
	ol {
		margin-left: 0;
	}

	// Post title.
	.editor-post-title {

		&__input {
			@include font-size(50px); // @TODO should be heading 1 size
			font-family: $font-family-heading;
			font-weight: 700;
			min-height: auto;
		}
	}

	// Standard width blocks.
	.editor-post-title__block,
	.editor-default-block-appender,
	.editor-block-list__block {
		max-width: rem($global-width);
	}

	// Wide blocks.
	.editor-block-list__block[data-align="wide"] {
		max-width: rem($global-width-wide);
	}

	// Full width blocks.
	.editor-block-list__block[data-align="full"] {
		max-width: none;
	}

	// We need this as some blocks add the below classes to the markup too,
	// which messes with the layout in the editor (namely the gallery block).
	.alignwide,
	.alignfull {
		margin: auto;
		transform: translateX(0);
		width: 100%;
	}
}
