////
/// Separator block.
///
/// @group Blocks
////

.wp-block-separator {
	max-width: 100px;

	// Wide style
	&.is-style-wide {
		border-bottom-width: 5px;
		max-width: none;
	}

	// Dots style
	&.is-style-dots {
		border-style: dotted;
		max-width: none;
	}
}
