.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;

	.blocks-gallery-image,
	.blocks-gallery-item {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		margin-bottom: vr(1);
		margin-left: 0;
		position: relative;

		figure {
			align-items: flex-end;
			display: flex;
			height: 100%;
			margin: 0;
		}
	}

	// Cropped
	&.is-cropped .blocks-gallery-image,
	&.is-cropped .blocks-gallery-item {
      a,
      img {
			flex: 1;
			height: 100%;
			object-fit: cover;
			width: 100%;

		}
	}

	// Responsive fallback value, 2 columns
	& .blocks-gallery-image,
	& .blocks-gallery-item {
		@include nth-grid(2, $selector: type);

		&:last-child {
			margin-right: 0;
		}
	}

	&.columns-1 .blocks-gallery-image,
	&.columns-1 .blocks-gallery-item {
		width: 100%;
	}

	@include mq(medium) {
		@for $i from 3 through 8 {

			&.columns-#{$i} .blocks-gallery-image,
			&.columns-#{$i} .blocks-gallery-item {
				@include nth-grid($i, $selector: type);
			}
		}
	}

	// Apply max-width to floated items that have no intrinsic width
	[data-align="left"] &,
	[data-align="right"] &,
	&.alignleft,
	&.alignright {
		max-width: $global-width / 2;
		width: 100%;
	}
}
