.wp-block-cover-image {
	align-items: center;
	position: relative;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	margin-bottom: vr(1);
	min-height: 430px;

	&.has-left-content {
		justify-content: flex-start;

		h2,
		.wp-block-cover-image-text {
			margin-left: 0;
			text-align: left;
		}
	}

	&.has-right-content {
		justify-content: flex-end;

		h2,
		.wp-block-cover-image-text {
			margin-right: 0;
			text-align: right;
		}
	}

	h2,
	.wp-block-cover-image-text {
		color: $color-white;
		z-index: 1;
		margin-bottom: 0;
		max-width: $global-width;
		padding: vr(1);
		text-align: center;

		a,
		a:hover,
		a:focus,
		a:active {
			color: $color-white;
		}
	}

	&.has-parallax {
		background-attachment: fixed;
	}

	&.has-background-dim:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($color-black, 0.5);
	}

	@for $i from 1 through 10 {
		&.has-background-dim-#{$i * 10}:before {
			background-color: rgba($color-black, $i * 0.1);
		}
	}

	&.components-placeholder {
		height: inherit;
	}

	// Apply max-width to floated items that have no intrinsic width
	[data-align="left"] &,
	[data-align="right"] &,
	&.alignleft,
	&.alignright {
		max-width: $global-width / 2;
		width: 100%;
	}
}
