/* ==========================================================================
   #ALIGNMENT
   ========================================================================== */

.alignleft {
	float: left;
	margin-bottom: vr(1);
	margin-right: vr(1);

	@include mq(large) {
		max-width: 50%;
	}
}

.alignright {
	float: right;
	margin-bottom: vr(1);
	margin-left: vr(1);

	@include mq(large) {
		max-width: 50%;
	}
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Set the extended width only when above that screen size.
.alignwide {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	max-width: 100vw;
	width: 100vw;

	@include mq($global-width-wide) {
		margin-left: -#{rem(($global-width-wide - $global-width) / 2)};
		margin-right: -#{rem(($global-width-wide - $global-width) / 2)};
		max-width: rem($global-width-wide);
	}
}

.alignfull {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	max-width: 100vw;
	width: 100vw;
}

.u-float-left {
	float: left;
}

.u-float-right {
	float: right;
}

.u-clear {
	clear: both;
}

.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: left;
}

.u-text-right {
	text-align: right;
}
