/* ==========================================================================
   #ALIGNMENT
   ========================================================================== */

.alignleft {
	margin-bottom: vr(1);

	@include mq(large) {
		float: left;
		margin-right: vr(1);
		max-width: 50%;
	}
}

.alignright {
	margin-bottom: vr(1);

	@include mq(medium) {
		float: right;
		margin-left: vr(1);
		max-width: 50%;
		width: 50%;
	}
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	margin-left: 50%;
	max-width: rem($global-width-wide);
	transform: translateX(-50%);
	width: 100vw;
}

.alignfull {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	max-width: 100vw;
	width: 100vw;
}

.u-float-left {
	float: left;
}

.u-float-right {
	float: right;
}

.u-clear {
	clear: both;
}

.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: left;
}

.u-text-right {
	text-align: right;
}
