.has-primary-color {
	color: $color-primary;
}

.has-primary-background-color {
	background-color: $color-primary;
}

.has-secondary-color {
	color: $color-secondary;
}

.has-secondary-background-color {
	background-color: $color-secondary;
}

.has-white-color {
	color: $color-white;
}

.has-white-background-color {
	background-color: $color-white;
}

.has-black-color {
	color: $color-black;
}

.has-black-background-color {
	background-color: $color-black;
}
