.wp-block-separator {

	&:not(.is-style-wide) {
		max-width: 100px;
	}

	// Wide style
	&.is-style-wide {}

	// Dots style
	&.is-style-dots {
		border-bottom-style: dotted;

		&::before {
			content: none;
		}
	}
}
