.wp-block-button {

	&__link {
		@include button;

		&:not(.has-background) {
			background-color: $color-button-background;

			&:hover,
			&:focus {
				background-color: $color-button-hover-background;
			}
		}

		&:not(.has-text-color) {
			color: $color-button;

			&:hover,
			&:focus {
				color: $color-button-hover;
			}
		}
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignwide &__link,
	&.alignfull &__link {
		width: 100%;
	}
}

.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border-color: $color-button-outline-border;
	color: $color-button-outline;

	&:hover,
	&:focus {
		background-color: $color-button-outline-hover-background;
		color: $color-button-outline-hover;
	}

	&.has-secondary-background-color {
		border-color: $color-secondary;
		color: $color-secondary;

		&:hover,
		&:focus {
			background-color: $color-secondary;
			color: $color-white;
		}
	}

	&.has-black-background-color {
		border-color: $color-black;
		color: $color-black;

		&:hover,
		&:focus {
			background-color: $color-black;
			color: $color-white;
		}
	}

	&.has-white-background-color {
		border-color: $color-white;
		color: $color-black;

		&:hover,
		&:focus {
			background-color: $color-white;
			color: $color-black;
		}
	}
}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
