////
/// Columns block.
///
/// @group Blocks
////

.wp-block-columns {
	display: flex;
	flex-wrap: wrap;

	@include mq(medium) {
		flex-wrap: nowrap;
	}

	// Editor specific styling.
	// Make sure columns span correctly.
	.editor-inner-blocks {
		flex: 1;
	}
}

// Individual columns.
.wp-block-column {
	flex: 0 0 100%;

	@include mq(medium) {
		flex: 1;
		margin-right: vr(1);

		&:last-child {
			margin-right: 0;
		}
	}
}
