.wp-block-pullquote {
	text-align: center;

	blockquote {
		border: 0;
		padding: vr(2) 0;
	}

	p {
		@include font-size($h3);
	}

	&.alignleft,
	&.alignright {
		text-align: left;
	}

	&.is-style-solid-color {

		blockquote {
			background-color: $color-primary;
			color: $color-white;
			padding: vr(1);
		}

		cite {
			color: $color-black;
		}
	}
}
