////
/// Columns block.
///
/// @group Blocks
////

.wp-block-columns {
	display: flex;

	// Editor specific styling.
	// Make sure columns span correctly.
	.editor-inner-blocks {
		flex: 1;
	}
}

// Individual columns.
.wp-block-column {
	flex: 1;
	margin-right: vr(1);

	&:last-child {
		margin-right: 0;
	}
}
