/**
 * Place any image and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

.o-media {
	align-items: flex-start;
	display: flex;
}

.o-media__img {
	margin-right: vr(1);

	> img {
		display: block;
	}
}

.o-media__body {
	flex: 1;

	&,
	> :last-child {
		margin-bottom: 0;
	}
}

/* Reversed media objects
   ========================================================================== */

.o-media--reverse {

	> .o-media__img {
		margin-left: vr(1);
		margin-right: 0;
	}
}

/* Gutterless media objects
   ========================================================================== */

.o-media--flush {

	> .o-media__img {
		margin-left: 0;
		margin-right: 0;
	}
}
