////
/// Wrapper object.
///
/// @group Objects
////

/**
 * Page-level constraining and wrapping elements.
 */

.wrapper {
	@include wrapper($global-width);

	&--narrow {
		@include wrapper($global-width-narrow, $margin: null);
	}

	&--wide {
		@include wrapper($global-width-wide, $margin: null);
	}

	&--full {
		max-width: 100%;
	}

	&--flush {
		padding-left: 0;
		padding-right: 0;
	}
}
