////
/// Form elements.
///
/// @group Elements
////

// 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
// on fieldsets.
fieldset {
	border: 0;
	font-family: inherit;
	margin-bottom: vr(1);
	min-width: 0; /* [1] */
}

legend {
	font-weight: $font-weight-form-legend;
	margin-bottom: vr(1/2);
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="search"],
[type="number"],
[type="tel"],
[type="range"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="color"],
textarea,
select {
	background-color: $color-form-input-background;
	border: 1px solid $color-form-input-border;
	border-radius: $global-radius;
	color: $color-form-input;
	display: block;
	font-family: inherit;
	height: vr(1.75);
	outline: none;
	padding: vr(1/4) vr(1/2);
	width: 100%;
}

select[multiple] {
	height: auto;
	padding: vr(1/4) vr(1/2);
}

textarea {
	height: auto;
	padding: vr(1/2);
	vertical-align: top;
}

[type="file"] {
	background: none;
	border: none;
	box-shadow: none;
	display: inline-block;
	height: auto;
	padding: 0;
	width: auto;
}

[type="radio"],
[type="checkbox"] {
	display: inline-block;
	height: auto;
	padding: 0;
	width: auto;

	& + & {
		margin-left: vr(1/2);
	}

	+ label {
		display: inline-block;
		margin-left: vr(1/4);
	}
}

input,
textarea,
select {

	&:focus {
		border-color: $color-form-input-border-focus;
		outline: none;
	}

	&:disabled {
		color: $color-mid-grey;
		cursor: not-allowed;
		font-style: italic;
		opacity: 0.3;
		resize: none;
	}
}

label {
	color: $color-form-label;
	display: block;
	font-weight: $font-weight-form-label;
	margin-bottom: vr(1/4);
}

[type="button"],
[type="reset"],
[type="submit"] {
	@include button;
	@include button-style($color-button-background, $color-button);
}
