{% extends 'layouts/base.twig' %}

{% block content %}
	<article id="post-{{ post.ID }}" {{ function('post_class') }}>
		<header class="post__header">
			<h1 class="post__title">{{ post.title }}</h1>

			{% include 'components/meta.twig' %}
		</header>

		<div class="post__content">
			<p>{{ post.content }}</p>
		</div>
	</article>

	{% include 'components/comments.twig' %}
{% endblock %}
